{% extends 'base.html.twig' %}

{% block body %}
{{ include('/component/navbar.html.twig') }}

<div class="example">
    <h1>Menu</h1>
    <div class="category-container">
        {% for category in categories %}
            <div class="category-card">
                <img src="{{ asset('uploads/categories/' ~ category.photo) }}" alt="{{ category.name }}" onclick="openModal({{ category.id }})">
                <h2>{{ category.name }}</h2>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Le contenu du menu sera injecté ici par JavaScript -->
                <div id="menuContent">
                    <!-- Les éléments de menu seront affichés ici -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openModal(categoryId) {
        fetch('/category/' + categoryId + '/menus')
            .then(response => response.json())
            .then(data => {
                let menuContent = '';
                data.menus.forEach(function(item) {
                    menuContent += '<div class="menu-item">';
                    menuContent += '<h4>' + item.name + '</h4>';
                    menuContent += '<p>' + item.composition + '</p>';
                    menuContent += '<p>Prix: ' + item.prix + ' €</p>';
                    menuContent += '</div>';
                });
                document.getElementById('menuContent').innerHTML = menuContent;

                var menuModal = new bootstrap.Modal(document.getElementById('menuModal'));
                menuModal.show();
            });
    }
</script>
{% endblock %}