{% extends 'base.html.twig' %}

{% block body %}
{{ include('/component/navbar.html.twig') }}
<div class="example">
    <h1>Menu</h1>
    <div class="category-container">
    {% for category in categories %}
            <div class="category-card">
                <img src="{{ asset('uploads/categories/' ~ category.photo) }}" alt="{{ category.name }}" onclick="openModal({{ category.id }})">
                <h2>{{ category.name }}</h2>
            </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}