{% extends 'base.html.twig' %}



{% block body %}
{{ include('/component/navbar.html.twig') }}
<h1>Services</h1>
<div class="service-container">
    {% for service in services %}
        <div class="service-card">
            <img src="{{ asset('uploads/services/' ~ service.photo) }}" alt="{{ service.name }}" >
            <h2>{{ service.name }}</h2>
            <div class="description-overlay">
                <p>{{ service.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
