{% extends 'base.html.twig' %}
{% block body %}
{{ include('/component/navbar.html.twig') }}
<div class="service">
<h1>Nos Services</h1>
<p>Bienvenue chez Auberge Georgio où la tradition et la passion de la cuisine italienne
se rencontrent pour vous offrir une expérience gastronomique unique. 
Découvrez nos services conçus pour satisfaire tous vos désirs culinaires.</p>
</div>
<div class="service-container">
    {% for service in services %}
        <div class="service-card">
            <img src="{{ asset('uploads/services/' ~ service.photo) }}" alt="{{ service.name }}" >
            <h2>{{ service.name }}</h2>
            <div class="description-overlay">
                <p>{{ service.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{{ include('/component/footer.html.twig') }}
{% endblock %}
