{% extends 'base.html.twig' %}
{% block body %}

<!-- Barre de navigation -->
<nav class="navbar">
    <div id="openBtn" class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div id="closeBtn" class="close-btn">&times;</div>
    <div class="logo">
        <a href="{{ path('home') }}"><img src="{{ asset('images/logoR.svg') }}" alt="Logo"></a>
    </div>
    
    <!-- Menu burger (sidenav) -->
    <div id="mySidenav" class="sidenav">
        <ul class="nav-links">
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('category') }}">Menu</a></li>
            <li><a href="{{ path('services') }}">Services</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </div>
</nav>

<!-- Script de gestion du menu burger -->
<script>
    var sidenav = document.getElementById("mySidenav");
    var openBtn = document.getElementById("openBtn");
    var closeBtn = document.getElementById("closeBtn");

    openBtn.onclick = openNav;
    closeBtn.onclick = closeNav;

    /* Fonction pour ouvrir le menu burger */
    function openNav() {
        sidenav.classList.add("active");
    }

    /* Fonction pour fermer le menu burger */
    function closeNav() {
        sidenav.classList.remove("active");
    }

    // Fermer le menu lorsque l'utilisateur clique sur un lien du menu
    document.querySelectorAll('.nav-links a').forEach(link => {
        link.addEventListener('click', () => {
            sidenav.classList.remove('active');
        });
    });
</script>

{% endblock %}
